


body {
	color: var(--font-color);
	font-family:Arial, Helvetica, sans-serif;
	background-color: var(--bg-color) !important;

	margin: 0;
	padding: 0;
}

select{
	background-color: var(--secondary-color);
	-moz-appearance:none;
	-webkit-appearance: none;
}




.btn {
	
	color: var(--font-color)!important;
	font-size: 24px !important;
	width: 100px ; 
	font-weight:bold;
	border: solid #FF8C00 transparent !important;
	display: flex;

}
#btns{
	position: relative;
	width: 50px;
	opacity: 0.7;
	padding:2%; 
}
#btns:hover{
	opacity: 1;
	border:solid;
	border-color: #FF8C00;
	transition: 0.2s;
}


#div1{
	
	position: fixed;
	top: auto;
	margin-left: 38%;
	margin-top: 1%;
	opacity: 0.5;
}

#legend{
	color:  var(--font-color);
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
}

#send{
	border:1px solid #25692A;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-weight:bold;
	font-size:13px;
	padding:6px 10px;
	text-decoration:none;
	background: var(--secondary-color);
	opacity: 0.7;
    color: var(--font-color);
}
#send:hover{
	opacity: 1;
	border:solid 1px;
	border-color: #FF8C00;
	transition: 0.2s;
}
#inputEmail{
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}
#div1 select{
	padding: 15%;	
}
#div1 select:hover{
	opacity: 1;
	border-color: #FF8C00;
	border-style: inset;
	border-width: 0px;	
}

#div2{
	
	padding-left:  40px;
	margin-left: 50%;
	
	
	
}


.btn:hover{
	background-color: var(--secondary-color);
	cursor: pointer;
	border: solid var(--secondary-color) !important;
	opacity: 0.5;
	
}

#input-hidden{
	visibility: hidden;
	margin-top: 5px;
	display: none;
}

.menu{
	font-size: 16pt;
	width: 100%;
}

.menu ul{
	list-style: none;
	display: flex;
	text-align: center;
	margin-left: -45px; /*Tive que usar isso para que o menu ficasse alinhado do lado esquerdo*/
}

.menu ul li {
	margin-left: 0px;
	padding: 6px;
	flex-grow: 1;
	transition: background-color .2s linear;
	border: solid 1px #363636;
}

/* Criando um estilo para a div da camera */

#camera{

	position: fixed;
	margin-left: -100px;
	margin-right: -100px;
	
		
}

#camera1{
	
	
	position: relative;

	
}

#camera2{
	
	position: relative;
	height: 30px;
	width: 100%;
	
}

#camera img{
	
	width: 100%;
	height: 90%;
		
}



.camera button:active{
	
	background-color: whitesmoke;
	
}

.menu ul li a{
	text-decoration: none;
	color: var(--font-color);
}

.itens{
	background-color: var(--primary-color);
}

#contatos{
	background-color: var(--primary-color);
}


.menu ul li:hover{
	border-color: var(--secondary-color);
	border-style: inset;
	border-width: 0px;
	cursor: pointer;
	cursor: hand;
	transition: 0.4s;
	opacity: 0.5;
}


/*Isso aqui serve para organizar a navbar quando
a tela estiver em tamanho menor*/
@media (max-width: 520px){
	.menu ul{
		display: block;
	}
}

.hidden{
	display: none;
	border-color: var(--secondary-color);
	border-style: inset;
	border-width: 3px;
	text-align: center;
	float: right;
	list-style: none;
	font-size: 13pt;
	padding: 20px;
	color: var(--font-color);
	
	
}
.hidden.hide{
	opacity: 0;
   
}
.cont a{
	color: var(--font-color);
	border-width: 2px;


}
.cont a:hover{
	transition: 0.5s;
	color: #6A5ACD	;
}

	/* This part is for the Dark/ Light mode */

/* we'll be creating a pseudo class called root as our default mode, or light mode */

html{
	
	--primary-color: navajoWhite;
    --secondary-color: PapayaWhip;
    --font-color: black;
    --bg-color: Azure;
    --heading-color: black;
	
}

html[data-theme="dark"] {
	
    --primary-color: #1a1a1a;
    --secondary-color: #818cab;
    --font-color: #9FB1B2;
    --bg-color: #414950;
    --heading-color: #818cab;
	
}

/*Style for our toggle button dark/light mode */

.theme-switch-wrapper {
	position: fixed;
	left: 30px;
  	display: flex;
  	align-items: center;
}

.ha{
	
	position: relative;
	left: -70px;
	top: 30px;
    font-size: 1rem;
	
}

.theme-switch {
  	display: inline-block;
  	height: 34px;
  	position: relative;
  	width: 60px;
}

.theme-switch input {
  	display:none;
}

.slider {
  	background-color: #ccc;
  	bottom: 0;
  	cursor: pointer;
  	left: 0;
  	position: absolute;
	right: 0;
  	top: 0;
  	transition: .4s;
}

.slider:before {
  	background-color: #fff;
  	bottom: 4px;
  	content: "";
  	height: 26px;
  	left: 4px;
  	position: absolute;
  	transition: .4s;
  	width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


