<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Facial Landmark Detection</title>
  </head>
  <body>
  	<center>
	    <img src="{{ url_for('static', filename=path) }}" alt="capture">
      <p>
        <a href="{{ url_for('root') }}">
          <img src="{{ url_for('static',filename='back.png') }}" alt="go back" class="btn"> 
        </a>
        <a href="{{ url_for('static', filename=path) }}" download>
          <img src="{{ url_for('static',filename='save.png') }}" alt="save picture" class="btn">
        </a>
        <form method="post">
          <legend>Send image to your email</legend>
          <input type="email" name="email" placeholder="Email">
          <button type="submit">Send</button>
        </form>
        {% if email_msg %}
          <strong>{{ email_msg }}</strong>
        {% endif %}
      </p>
	  	</div>
		</center>
  </body>
</html>