<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Facial Landmark Detection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
  	<center>
      <p class="menu-bar">
        <a href="{{ url_for('index', mode='landmark') }}" class='btn'>Tracking</a>
        
        <a href="{{ url_for('index', mode='rainbow') }}" class='btn'>Rainbow</a>
        
        <a href="{{ url_for('index', mode='googly') }}" class='btn'>Googly</a>
        
        <a href="{{ url_for('index', mode='clown') }}" class='btn'>Clown</a>
        
        <a href="{{ url_for('index', mode='hearts') }}" class='btn'>Hearts</a>
        
        <a href="{{ url_for('index', mode='CS') }}" class='btn'>CS</a>
        
        <a href="{{ url_for('index', mode='crazy') }}" class='btn'>Crazy</a>

        <a href="{{ url_for('index', mode='pixel') }}" class='btn'>Pixel</a>
        
        <a href="{{ url_for('index', mode='anon') }}" class='btn'>Anonymous</a>
        
        <a href="{{ url_for('index', mode='drawing') }}" class='btn'>Drawing</a>
        
        <select id="mask" class="btn">
          <option selected>Mask</option>
          <option value="{{ url_for('index', mode='anon_mask') }}">Hacker</option>
          <option value="{{ url_for('index', mode='incredibles_mask') }}">Hero</option>
          <option value="{{ url_for('index', mode='who_mask') }}">Who?</option>
        </select>
      </p>
	    <img src="{{ url_for('video_feed', mode=mode) }}" alt="video feed">
	    <div>
        <a href="{{ url_for('capture', mode=mode) }}">
	    	  <img src="{{ url_for('static',filename='picture.png') }}" alt="take picture" class="btn capture-button"> 
        </a>
      </div>
	  	</div>
		</center>
  </body>
</html>

<script>
$(document).ready(function(){

   $('#mask').on('change', function () {
        var url = $(this).val(); 
        if (url) { 
            window.location.href  = url;
         }
         return false;
       });
    });
</script>